@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-dark: #0b0c10;
  --background-light: #d3d3d3; /* Light gray */
  --text-light: #c5c6c7;
  --text-dark: #1f2833;
  --accent-primary: #66fcf1;
  --accent-secondary: #45a29e;
}

body {
  @apply font-inter;
  background: var(--background-dark);
  color: var(--text-light);
  transition: background 0.3s ease, color 0.3s ease;
}

body.light-mode {
  background: var(--background-light);
  color: var(--text-dark);
}

.gradient-section {
  background: linear-gradient(
    180deg,
    var(--background-dark),
    var(--background-light) 50%,
    var(--background-dark)
  );
}

body.light-mode .gradient-section {
  background: linear-gradient(
    180deg,
    var(--background-light),
    var(--background-dark) 50%,
    var(--background-light)
  );
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-semibold;
  color: var(--accent-primary);
}

a {
  @apply transition-colors duration-300;
  color: var(--accent-primary);
}

body.light-mode a {
  color: var(--accent-primary);
}

button {
  @apply px-6 py-3 font-medium rounded-lg transition-all duration-300 ease-in-out;
  background: var(--accent-secondary);
  color: var(--background-dark);
}

body.light-mode button {
  background: var(--accent-secondary);
  color: var(--background-light);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .blur-background {
    @apply backdrop-blur-lg;
  }

  .fade-in-out {
    @apply animate-fade;
  }

  .section-padding {
    @apply px-4 lg:px-0;
  }

  .header {
    @apply fixed top-0 left-0 w-full z-50;
    background: var(--background-dark);
    color: var(--text-light);
  }

  body.light-mode .header {
    background: var(--background-light);
    color: var (--text-dark);
  }

  .header .container {
    @apply mx-auto px-4 lg:px-0 flex justify-between items-center py-4;
  }

  .header nav {
    @apply hidden lg:flex space-x-4;
  }

  .header nav a {
    @apply hover:text-accent-primary;
  }

  .header .menu-button {
    @apply lg:hidden;
  }

  .mobile-menu {
    @apply lg:hidden z-40 flex flex-col items-center justify-center space-y-4 fixed inset-0 transform transition-transform duration-300 ease-in-out;
    background: var(--background-dark);
    color: var(--text-light);
    transform: translateX(100%);
  }

  body.light-mode .mobile-menu {
    background: var(--background-light);
    color: var(--text-dark);
  }

  .translate-x-0 {
    transform: translateX(0);
  }

  .translate-x-full {
    transform: translateX(100%);
  }

  .toggle-container {
    @apply relative w-12 h-6 bg-gray-400 rounded-full cursor-pointer;
  }

  .toggle-circle {
    @apply absolute top-0.5 left-0.5 w-5 h-5 bg-white rounded-full shadow-md transition-transform duration-300 ease-in-out;
  }

  body.light-mode .toggle-circle {
    transform: translateX(1.5rem);
    background-color: var(--accent-secondary);
  }

  .section {
    @apply py-20 section-padding bg-gradient-to-br from-background-dark to-background-light text-white;
  }

  body.light-mode .section {
    @apply bg-gradient-to-br from-background-light to-background-dark;
    color: var(--text-dark);
  }

  @media (max-width: 1024px) {
    h2 {
      margin-top: 1rem;
    }
  }
}
